.page
	%nav.menu1
		%li
			%a{:href => "#"} About NCHS
		%li
			%a{:href => "#"} Catholic Formation
		%li
			%a{:href => "#"} Admissions
		%li
			%a{:href => "#"} Academics
		%li
			%a{:href => "#"} Athletics
		%li
			%a{:href => "#"} Student Activities