.flexslider
	%ul.slides
		-3.times do
			%li
				.slide_wrapper
					.slide1_title
						The NCHS Viking Band has won the 
						TPSMEA State Marching Band Title 
						the past nine consecutive years.
					.slide_img
						=image_tag 'slide_1_boy.png'