.slides
	.slide_wrapper
		.slide1_title
			%h3 Choir
			Nolan offers a variety of choirs including a Women's choir, Varsity Choir, Nolan 12 Vocal Ensemble, and Viking Singers Vocal Ensemble. 
		.slide_img
			=image_tag 'slide_1_girl.png'