/* ******************************************** */
/* STYLE CONTENTS */
/* ******************************************** */
/* COMPASS SPRITES */
/* FONTS */
/* ELEMENTS */
/* 	- Buttons */
/* 	- Header */
/* 	- Footer */
/* PAGES */
/* 	- for all pages */
/* 	- Home */
/* RESPONSIVE */
/* ******************************************** */
/* ******************************************** */
/* Compass sprite, etc. */
/* ******************************************** */

.icons-sprite, .logo a, .home_link, header .right_side .search_form .btn-search, .facebook, .twitter, .google, .pinterest, .calendar_body .calendar_content .date_bg, .mission_section .mission_title .mission_arrow, .coaches_section .flex-direction-nav .flex-prev, .coaches_section .flex-direction-nav .flex-next, .players_section .team_box .flex-direction-nav .flex-prev, .players_section .team_box .flex-direction-nav .flex-next, .right_sidebar .facebook_link, .right_sidebar .hchs_watermark_icon {
  background: url("../img/icons-s7a865abd48.png") no-repeat; }

/* ******************************************** */
/* Fonts  */
/* ******************************************** */
@font-face {
  font-family: "trajan_proregular";
  src: url("../fonts/trajan-webfont.eot");
  src: url("../fonts/trajan-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/trajan-webfont.woff") format("woff"), url("../fonts/trajan-webfont.ttf") format("truetype"), url("../fonts/trajan-webfont.svg#trajan_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ChronicleTextG1BoldItalic";
  src: url("../fonts/chronicletextg1-bolditalic.eot");
  src: url("../fonts/chronicletextg1-bolditalic.eot") format("embedded-opentype"), url("../fonts/chronicletextg1-bolditalic.woff") format("woff"), url("../fonts/chronicletextg1-bolditalic.ttf") format("truetype"), url("../fonts/chronicletextg1-bolditalic.svg#ChronicleTextG1BoldItalic") format("svg"); }

@font-face {
  font-family: "ChronicleTextG1BoldItalic";
  src: url("../fonts/chronicletextg1-semiitalic.eot");
  src: url("../fonts/chronicletextg1-semiitalic.eot") format("embedded-opentype"), url("../fonts/chronicletextg1-semiitalic.woff") format("woff"), url("../fonts/chronicletextg1-semiitalic.ttf") format("truetype"), url("../fonts/chronicletextg1-semiitalic.svg#ChronicleTextG1SemiItalic") format("svg"); }

@font-face {
  font-family: "ChronicleTextG1Bold";
  src: url("../fonts/chronicletextg1-bold.eot");
  src: url("../fonts/chronicletextg1-bold.eot") format("embedded-opentype"), url("../fonts/chronicletextg1-bold.woff") format("woff"), url("../fonts/chronicletextg1-bold.ttf") format("truetype"), url("../fonts/chronicletextg1-bold.svg#ChronicleTextG1Bold") format("svg"); }

@font-face {
  font-family: "ChronicleTextG1Roman";
  src: url("../fonts/chronicletextg1-roman.eot");
  src: url("../fonts/chronicletextg1-roman.eot") format("embedded-opentype"), url("../fonts/chronicletextg1-roman.woff") format("woff"), url("../fonts/chronicletextg1-roman.ttf") format("truetype"), url("../fonts/chronicletextg1-roman.svg#ChronicleTextG1Roman") format("svg"); }

@font-face {
  font-family: "ChronicleTextG1Italic";
  src: url("../fonts/chronicletextg1-italic.eot");
  src: url("../fonts/chronicletextg1-italic.eot") format("embedded-opentype"), url("../fonts/chronicletextg1-italic.woff") format("woff"), url("../fonts/chronicletextg1-italic.ttf") format("truetype"), url("../fonts/chronicletextg1-italic.svg#ChronicleTextG1Italic") format("svg"); }

/* ******************************************** */
/* Buttons */
/* ******************************************** */

.blue_btn {
  padding: 10px 25px 5px 25px;
  display: inline;
  background: #2b7bc9;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: "ChronicleTextG1BoldItalic";
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.46);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.46);
  cursor: pointer; }

  .blue_btn:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2467ab), color-stop(100%, #2b7bc9));
    background-image: -webkit-linear-gradient(#2467ab, #2b7bc9);
    background-image: -moz-linear-gradient(#2467ab, #2b7bc9);
    background-image: -o-linear-gradient(#2467ab, #2b7bc9);
    background-image: linear-gradient(#2467ab, #2b7bc9);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: white;
    text-decoration: none; }


.black_btn {
  background: black;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
  font-family: "ChronicleTextG1BoldItalic";
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  padding: 9px 16px 7px 16px; }

  .black_btn:hover {
    background: #3d3d3d; }

/* ******************************************** */
/* Header */
/* ******************************************** */

header {
  background: #003161; }

/* Logo */

.logo {
  height: 30px;
  width: 191px;
  display: inline;
  float: left; }

  .logo a {
    left: 0;
    top: -19px;
    position: absolute;
    background-position: 0 0;
    height: 165px;
    width: 197px;
    display: block;
    z-index: 1000; }


.home_link {
  background-position: 0 -1174px;
  height: 14px;
  width: 15px;
  display: block;
  display: inline;
  float: left;
  margin-top: 10px; }

/* Main menu */

.main_menu_btn {
  display: none; }


.main_menu {
  display: inline;
  float: left;
  list-style: none;
  margin: 0 0 0 14px; }

  .main_menu li {
    display: inline;
    float: left;
    margin-top: 8px;
    margin-right: 13px; }

  .main_menu a {
    color: #d4e6f8;
    font-size: 12px; }

    .main_menu a:hover, .main_menu a .active {
      color: #0081ff;
      text-decoration: none; }


header .right_side {
  display: inline;
  float: right; }

  header .right_side .social_box {
    display: inline;
    float: left;
    margin-right: 5px;
    margin-top: 10px; }

    header .right_side .social_box div {
      display: inline;
      float: left;
      margin-right: 4px;
      cursor: pointer; }

  header .right_side .search_form {
    display: inline;
    float: left;
    margin: 5px 17px 5px 0px; }

    header .right_side .search_form .search-field {
      height: 18px;
      line-height: 18px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0; }

    header .right_side .search_form .btn-search {
      border: none;
      margin-top: 3px;
      background-position: 0 -1154px;
      height: 20px;
      width: 21px; }

/* ******************************************** */
/* Footer */
/* ******************************************** */

footer {
  background: #d9d9d9;
  border-top: 1px solid #b4b4b4;
  margin-top: 75px;
  padding: 25px 0;
  font-family: arial; }

  footer .footer_title {
    color: #797979;
    font-family: "ChronicleTextG1BoldItalic";
    font-size: 22px; }

  footer .left_widget {
    display: inline;
    float: left;
    border-right: 1px solid #bdbdbd;
    width: 32%; }

    footer .left_widget .contact_us_box {
      font-size: 11px;
      line-height: 20px;
      padding: 4px 1em 0 1em; }

      footer .left_widget .contact_us_box .contact_us_text {
        padding-top: 7px; }

      footer .left_widget .contact_us_box .contact_us_email {
        background: url("../img/icons/chat.png") no-repeat 100% 6px;
        display: inline;
        float: left;
        color: #787878;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 35px 0 0;
        margin-right: 13px; }

      footer .left_widget .contact_us_box .contact_us_phone {
        background: url("../img/icons/call.png") no-repeat 100% 6px;
        display: inline;
        float: left;
        font-size: 12px;
        font-weight: bold;
        padding: 2px 31px 0 0px; }

  footer .mid_widget {
    border-right: 1px solid #bdbdbd;
    margin: 0 33%; }

    footer .mid_widget .subscribe_box {
      padding: 0 1em; }

      footer .mid_widget .subscribe_box .subscribe_text {
        padding-top: 10px;
        margin-bottom: 6px; }

      footer .mid_widget .subscribe_box .subscribe_form_footer .subscribe_field {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        width: 170px;
        margin-right: 15px;
        margin-top: 15px; }

      footer .mid_widget .subscribe_box .subscribe_form_footer .black_btn {
        margin-top: 15px; }

  footer .right_widget {
    display: inline;
    float: right;
    width: 32%; }

    footer .right_widget .copyrights_box {
      padding-top: 8px;
      color: #959595;
      padding: 8px 1em 0 1em; }

      footer .right_widget .copyrights_box .copyrights_box_divider {
        display: inline;
        float: left;
        background: #959595;
        height: 11px;
        width: 1px;
        margin: 5px 9px 0px 9px; }

      footer .right_widget .copyrights_box a {
        display: inline;
        float: left;
        color: #959595; }

        footer .right_widget .copyrights_box a:hover {
          color: #959595; }

/* Main styles (Global styles for all pages) */

body {
  font-size: Arial, sans-serif;
  color: #515151;
  font-size: 12px; }


.page_section {
  *zoom: 1;
  max-width: 965px;
  _width: 965px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

  .page_section:after {
    content: "";
    display: table;
    clear: both; }

/* Helpers */

.fleft {
  display: inline;
  float: left; }


.fright {
  display: inline;
  float: right; }


.clear {
  clear: both;
  font-size: 1px;
  height: 0px; }

/* Icons */

header .fa {
  font-size: 22px;
  color: white;
}

header .fa:hover {
  color: #2b7bc9;
}
/*
#144C82 - Dropdown Blue
#2b7bc9 - Link Blue
*/

/* ******************************************** */
/* Home page */
/* ******************************************** */

.slider_section {
  background: black;
  position: relative;
  z-index: 500; }

  .slider_section .slides, .slider_section .flexslider {
    background: url("../img/slide_bg.jpg") no-repeat 100% 0; }

  .slider_section .slide_wrapper {
    *zoom: 1;
    max-width: 965px;
    _width: 965px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 332px;
    overflow: hidden; }

    .slider_section .slide_wrapper:after {
      content: "";
      display: table;
      clear: both; }

    .slider_section .slide_wrapper .slide1_title {
      color: white;
      font-size: 26px;
      line-height: 31px;
      font-family: "ChronicleTextG1SemiItalic";
      font-style: italic;
      font-weight: bold;
      left: 62px;
      top: 162px;
      position: absolute;
      width: 470px;
      z-index: 200; }

    .slider_section .slide_wrapper .slide_img {
      top: 0;
      right: 33px;
      position: absolute;
      z-index: 100; }


.menu1_section {
  background: #003161; }

  .menu1_section .menu1 {
    display: inline;
    float: left;
    padding: 0px 0px 0px 27px; }

    .menu1_section .menu1 > li {
      display: inline;
      float: left;
      margin-right: 25px;
      padding: 11px 10px; }

      .menu1_section .menu1 li a {
        font-size: 14px;
        color: white;
        font-family: "trajan_proregular"; }





.info_title {
  font-size: 20px;
  color: 515151;
  font-family: "trajan_proregular";
  border-bottom: 1px solid #dbdbdb;
  padding: 10px;
  margin-bottom: 9px; }

  .info_title h3 {
    background: url("../img/icons/info_title_icon.png") no-repeat 0 0;
    width: 620px;
    margin: 0 auto;
    padding: 0 0 0 45px; }


.info_section {
  position: relative;
  min-height: 310px; }

  .info_section .info_news {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }

    .info_section .info_news .info_news_title {
      font-size: 22px;
      color: #515151;
      padding-left: 35px;
      font-weight: bold;
      font-style: italic;
      font-family: "ChronicleTextG1SemiItalic";
      margin-bottom: 15px;
      margin-top: 9px; }

    .info_section .info_news .media {
      margin-top: 0;
      margin-left: 35px;
      margin-bottom: 25px; }

    .info_section .info_news .media-heading, .info_section .info_news .media-heading a {
      color: #2b7bc9;
      font-size: 14px;
      font-family: "ChronicleTextG1Bold";
      margin: 0; }

    .info_section .info_news .news_date {
      font-family: "ChronicleTextG1Italic";
      font-size: 11px;
      color: #353535; }

  .info_section .info_video {
    width: 48.93617%;
    float: right;
    margin-right: 0;
    #margin-left: -20px;
    display: inline; }

    .info_section .info_video iframe {
      width: 100%;
      height: 245px; }

    .info_section .info_video .info_video_wrapprer {
      margin-top: 9px;
      background: #eeeeee;
      padding: 5px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }


.calendar_section {
  *zoom: 1;
  max-width: 965px;
  _width: 965px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

  .calendar_section:after {
    content: "";
    display: table;
    clear: both; }


.home .calendar_box {
  top: 0;
  right: 46px;
  position: absolute; }


.calendar_box {
  width: 304px; }


.calendar_head {
  border-top: 3px solid #2b7bc9;
  background: #003161;
  color: white;
  font-size: 18px;
  font-family: "trajan_proregular";
  text-align: center;
  min-height: 34px;
  padding-top: 18px;
  letter-spacing: 5px; }

  .calendar_head h4 {
    margin: 0; }


.calendar_body {
  padding: 0 10px;
  background: #003161; }

  .calendar_body .calendar_content {
    background: white;
    padding: 10px; }

    .calendar_body .calendar_content .media {
      border-bottom: 1px solid #e7e7e7;
      margin-top: 0;
      margin-bottom: 15px;
      padding-bottom: 13px; }

      .calendar_body .calendar_content .media:last-child {
        border-bottom: none; }

      .calendar_body .calendar_content .media .pull-left {
        margin-right: 13px; }

    .calendar_body .calendar_content .date_bg {
      background-position: 0 -1188px;
      height: 42px;
      width: 42px; }

      .calendar_body .calendar_content .date_bg .month, .calendar_body .calendar_content .date_bg .day {
        font-family: Arial;
        font-weight: bold;
        font-size: 11px;
        line-height: 16px;
        text-align: center;
        color: white;
        display: block;
        text-transform: uppercase;
        height: 16px;
        overflow: hidden; }

      .calendar_body .calendar_content .date_bg .day {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #003161;
        height: 28px; }

    .calendar_body .calendar_content .media-body {
      font-family: "ChronicleTextG1Italic";
      font-size: 11px;
      color: #353535; }

    .calendar_body .calendar_content .media-heading, .calendar_body .calendar_content .media-heading a {
      color: #2b7bc9;
      font-size: 14px;
      font-family: "ChronicleTextG1Bold";
      margin: 0; }


.calendar_footer {
  background: url("../img/calendar_footer.png") no-repeat 0 0;
  height: 108px;
  width: 304px; }

  .calendar_footer a {
    display: block;
    color: #67a3dd;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "ChronicleTextG1BoldItalic";
    text-align: center;
    padding-top: 8px; }


.mission_section .mission_head {
  background: #545454; }

.mission_section .mission_title {
  width: 65.95745%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  min-height: 55px;
  position: relative; }

  .mission_section .mission_title .mission_arrow {
    background-position: 0 -1077px;
    height: 21px;
    width: 88px;
    left: 50%;
    top: 45px;
    position: absolute;
    margin-left: -44px; }

  .mission_section .mission_title h3 {
    font-family: "trajan_proregular";
    font-size: 20px;
    font-weight: bold;
    color: #d4d3d3;
    text-align: center;
    margin-bottom: 0; }

.mission_section .mission_body {
  background: #3e3e3e;
  min-height: 177px;
  padding-top: 15px; }

.mission_section .mission_txt {
  width: 65.95745%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
  background: url("../img/nchs_watermark_big.png") no-repeat 50% 23px;
  font-family: "ChronicleTextG1Roman";
  font-size: 13px;
  line-height: 22px;
  color: white; }

  .mission_section .mission_txt p {
    padding-left: 64px;
    padding-right: 30px; }

  .mission_section .mission_txt .blue_btn {
    width: 125px;
    display: block;
    margin: 16px auto 16px auto; }


.promo_section {
  width: 65.95745%;
  float: left;
  margin-right: 2.12766%;
  display: inline; }


.promo_card {
  background: white;
  width: 285px;
  margin: 27px 15px 15px 8px;
  display: inline;
  float: left;
  border: 1px solid #d8d8d8;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

  .promo_card .promo_img {
    padding-top: 15px;
    text-align: center; }

  .promo_card .promo_title {
    font-size: 18px;
    font-family: "ChronicleTextG1BoldItalic";
    padding: 15px 15px 5px 15px; }

  .promo_card .promo_msg {
    padding: 0 15px 15px 15px;
    font-family: "ChronicleTextG1Roman"; }

    .promo_card .promo_msg .blue_btn {
      display: block;
      margin: 27px auto 13px auto;
      width: 125px; }


.interior .slide_wrapper {
  height: 250px;
  overflow: hidden; }

  .interior .slide_wrapper .slide1_title {
    left: 27px;
    top: 125px;
    position: absolute;
    width: 545px;
    z-index: 200;
    font-size: 17px;
    line-height: 22px; }

    .interior .slide_wrapper .slide1_title h3 {
      color: #c3e1ff;
      font-size: 42px;
      font-family: "trajan_proregular";
      font-style: normal;
      margin-bottom: 16px; }

  .interior .slide_wrapper .slide_img {
    top: 0;
    right: 33px;
    position: absolute;
    z-index: 100; }

.interior .info_title {
  border: none;
  margin-bottom: 0; }

.interior .info_title, .interior .page_header_box {
  display: none; }


.page_header_box {
  text-align: center;
  background: black;
  padding: 10px 0; }

  .page_header_box h2 {
    color: #c3e1ff;
    font-size: 32px;
    font-family: "trajan_proregular";
    font-style: normal;
    margin: 0; }


.blog_wrapper {
  width: 65.95745%;
  float: left;
  margin-right: 2.12766%;
  display: inline; }


.blog_section {
  font-size: 14px;
  line-height: 30px;
  color: #2e2e2e;
  font-family: "ChronicleTextG1Roman"; }

  .blog_section h3 {
    font-size: 18px;
    font-family: "ChronicleTextG1Roman";
    font-weight: bold;
    margin: 18px 0 13px 0;
    line-height: 30px; }

  .blog_section p {
    margin: 0; }

  .blog_section .player {
    margin-bottom: 17px; }

  .blog_section .media {
    margin: 0 0 0 0; }

  .blog_section ul {
    margin: 0px 0 0 10px; }

    .blog_section ul li {
      padding: 0px 0px 37px 0px;
      line-height: 30px; }


.right_sidebar {
  width: 31.91489%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline; }


.athletics {
  background: #f0f0f0; }

  .athletics .blog_wrapper {
    padding-top: 0; }

  .athletics .slider_athletic {
    background: #d7d7d9 url("../img/slide_bg_athletics.png") no-repeat 100% 0; }

  .athletics .slide_wrapper {
    height: 250px;
    overflow: hidden; }

    .athletics .slide_wrapper .slide1_title {
      left: 27px;
      top: 125px;
      position: absolute;
      width: 545px;
      z-index: 200;
      font-size: 17px;
      line-height: 22px;
      color: black; }

      .athletics .slide_wrapper .slide1_title h3 {
        color: #2b7bc9;
        font-size: 42px;
        font-family: "trajan_proregular";
        font-style: normal;
        margin-bottom: 22px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); }

    .athletics .slide_wrapper .slide_img {
      top: 0;
      right: 22px;
      position: absolute;
      z-index: 100; }

  .athletics .info_title {
    border: none;
    margin-bottom: 0; }

  .athletics .info_title, .athletics .page_header_box {
    display: none; }

  .athletics .calendar_box .media {
    padding-bottom: 10px; }

  .athletics .calendar_box .media-body {
    font-family: "ChronicleTextG1Bold";
    font-size: 14px; }


.main_section {
  position: relative; }


.blog_wrapper {
  font-size: 14px;
  line-height: 30px;
  color: #2e2e2e;
  font-family: "ChronicleTextG1Roman";
  padding-top: 12px;
  width: 65.95745%;
  float: left;
  margin-right: 2.12766%;
  display: inline; }

  .blog_wrapper .player {
    margin-bottom: 17px; }

  .blog_wrapper .media {
    margin: 0 0 0 0; }


.title_section {
  position: relative;
  font-size: 16px;
  color: black;
  font-family: "trajan_proregular";
  font-weight: bold;
  letter-spacing: 6px;
  padding: 9px;
  text-transform: uppercase;
  margin: 0; }

  .title_section.top_title_mod {
    width: 65.95745%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }

  .title_section .view_more_box {
    top: 9px;
    right: 15px;
    position: absolute;
    color: #5383b6;
    font-family: "ChronicleTextG1SemiItalic";
    font-size: 11px;
    letter-spacing: normal;
    font-style: italic;
    text-transform: none; }


.lates_news_section {
  background: white;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 13px; }

  .lates_news_section .main_news {
    margin-bottom: 25px; }

    .lates_news_section .main_news .media-body {
      color: black;
      font-size: 13px;
      font-family: "ChronicleTextG1Roman";
      line-height: 20px; }

      .lates_news_section .main_news .media-body a {
        color: #2b7bc9;
        font-family: "ChronicleTextG1SemiItalic";
        font-style: italic;
        font-weight: bold; }

    .lates_news_section .main_news .pull-left {
      margin-right: 17px; }

      .lates_news_section .main_news .pull-left img {
        border: 7px solid #d7d7d7; }

  .lates_news_section .media-heading, .lates_news_section .media-heading a {
    color: #5383b6;
    font-size: 23px;
    font-family: "ChronicleTextG1SemiItalic";
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0; }

  .lates_news_section .post_date {
    font-family: Arial;
    font-size: 11px;
    color: #8c8c8c;
    font-weight: bold; }

  .lates_news_section .sub_news .media-heading, .lates_news_section .sub_news .media-heading a {
    font-size: 15px;
    line-height: 16px; }

  .lates_news_section .sub_news .media {
    display: inline;
    float: left;
    width: 50%;
    margin-bottom: 17px; }

  .lates_news_section .sub_news .pull-left img {
    border: 4px solid #d7d7d7; }


.schedule_section table {
  width: 100%;
  background: white;
  border: 1px solid #e2e2e2; }

  .schedule_section table th {
    text-transform: uppercase;
    font-size: 12px;
    color: #67a3dd;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
    padding: 17px 10px 5px 10px;
    line-height: 16px; }

  .schedule_section table td {
    padding: 14px;
    text-align: center;
    font-size: 12px;
    color: #67a3dd;
    line-height: 16px;
    padding: 10px 0px 0px 0px; }

  .schedule_section table tr:last-child td {
    padding-bottom: 20px; }


.coaches_section .coach_slider {
  position: relative;
  padding: 0 33px; }

  .coaches_section .coach_slider .coach_slider_wrapper {
    background: #b4b4b4;
    width: 182px; }

  .coaches_section .coach_slider .coach_slider_title {
    padding: 10px; }

    .coaches_section .coach_slider .coach_slider_title a {
      display: block;
      line-height: 16px; }

    .coaches_section .coach_slider .coach_slider_title .coach_name {
      color: white;
      font-size: 15px;
      font-family: "ChronicleTextG1SemiItalic";
      font-weight: bold;
      font-style: italic; }

    .coaches_section .coach_slider .coach_slider_title .position {
      font-family: Arial;
      font-size: 11px;
      font-weight: bold;
      color: white; }

    .coaches_section .coach_slider .coach_slider_title .more_info {
      color: #2b7bc9;
      font-size: 15px;
      font-family: "ChronicleTextG1SemiItalic";
      font-weight: bold;
      font-style: italic; }

.coaches_section .flex-direction-nav a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  height: 262px; }

.coaches_section .flex-direction-nav .flex-prev {
  background-position: 0 -486px;
  height: 265px;
  width: 27px;
  left: 0;
  top: 20px;
  position: absolute; }

.coaches_section .flex-direction-nav .flex-next {
  background-position: 0 -767px;
  height: 265px;
  width: 27px;
  top: 20px;
  right: 0;
  position: absolute; }


.players_section .best_player_box {
  display: inline;
  float: left;
  width: 215px; }

  .players_section .best_player_box .player_position {
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    color: black; }

  .players_section .best_player_box .player_name {
    font-size: 15px;
    padding-top: 16px;
    font-family: "ChronicleTextG1SemiItalic";
    font-weight: bold;
    font-style: italic;
    color: black;
    line-height: 16px; }

.players_section .team_box {
  display: inline;
  float: left;
  width: 420px;
  padding: 33px 0;
  position: relative; }

  .players_section .team_box .flex-direction-nav a {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1; }

  .players_section .team_box .flex-direction-nav .flex-prev {
    background-position: 0 -1049px;
    height: 28px;
    width: 414px;
    left: 0;
    top: 20px;
    position: absolute; }

  .players_section .team_box .flex-direction-nav .flex-next {
    background-position: 0 -1098px;
    height: 28px;
    width: 414px;
    left: 0;
    top: 318px;
    position: absolute; }

  .players_section .team_box .player_pic {
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline;
    float: left; }

    .players_section .team_box .player_pic a {
      display: block; }


.right_sidebar {
  width: 31.91489%;
  float: right;
  margin-right: 0;
  #margin-left: -20px;
  display: inline;
  top: 0;
  right: 0;
  position: relative; }

  .right_sidebar .calendar_body {
    padding: 0 10px 10px; }

  .right_sidebar .calendar_content {
    margin-bottom: 10px; }

  .right_sidebar .facebook_link {
    background-position: 0 -279px;
    height: 32px;
    width: 106px;
    margin: 20px auto 0px auto; }

  .right_sidebar .hchs_watermark_icon {
    background-position: 0 -347px;
    height: 42px;
    width: 42px;
    margin: 0px auto 12px auto; }

  .right_sidebar .latest_news_box {
    padding: 29px 20px 10px 20px; }

    .right_sidebar .latest_news_box .media {
      padding-bottom: 4px; }

  .right_sidebar .state_champ_box h4 {
    color: #515151;
    font-size: 23px;
    font-family: "trajan_proregular";
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 15px; }

  .right_sidebar .state_champ_box .dates_box {
    background: #eaeef3;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    color: #003161;
    font-size: 17px;
    font-family: "ChronicleTextG1Bold";
    padding: 15px;
    text-align: center; }

    .right_sidebar .state_champ_box .dates_box a {
      color: #003161;
      font-size: 17px;
      font-family: "ChronicleTextG1Bold"; }

  .athletics .right_sidebar .promo_card {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  .athletics .right_sidebar .promo_img {
    padding: 0; }

  .athletics .right_sidebar .promo_msg {
    padding-bottom: 0; }

  .right_sidebar .calendar_footer {
    background: url("../img/calendar_footer2.png") no-repeat 0 0;
    height: 50px;
    width: 304px; }

/* ******************************************** */
/* Resonsive  */
/* ******************************************** */
@media (max-width: 979px) {

  .info_section .info_video {
    float: none;
    margin: 0 auto; }

  .info_section .info_news {
    width: 100%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }


  .mission_section .mission_title {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }

  .mission_section .mission_txt {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }


  .blog_wrapper {
    width: 48.93617%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }


  .right_sidebar {
    display: inline;
    float: right;
    width: 310px; }


  .athletics .right_sidebar {
    position: relative;
    float: none;
    display: block;
    margin: 0 auto 0px auto; }

  .athletics .blog_wrapper, .athletics .top_title_mod {
    width: 100%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }

  .athletics .best_player_box, .athletics .team_box {
    float: none;
    display: block;
    margin: 0 auto 20px auto; } }
@media (max-width: 700px) {

  .blog_section, .right_sidebar {
    flot: none;
    width: 100%; }


  .mission_section .mission_title {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }

  .mission_section .mission_txt {
    width: 31.91489%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }

    .mission_section .mission_txt p {
      padding-left: 4em;
      padding-right: 1em; }


  .calendar_box, .home .calendar_box {
    position: relative;
    right: 0;
    margin: 0 auto 30px auto; }


  .athletics .right_sidebar {
    position: relative;
    float: none;
    display: block;
    margin: 0 auto 0px auto; }

  .athletics .blog_wrapper {
    width: 100%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }

  .athletics .best_player_box, .athletics .team_box {
    float: none;
    display: block;
    margin: 0 auto 20px auto; }


  .interior .info_title, .interior .page_header_box, .athletics .info_title, .athletics .page_header_box {
    display: block; }


  .info_title h3 {
    width: auto;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 0 120px;
    background: url("../img/icons/info_title_icon_small.png") no-repeat 0 0px;
    padding: 5px 0px 5px 35px; }


  .mission_section .mission_title {
    width: 100%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }

  .mission_section .mission_txt {
    width: 100%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }


  .promo_section {
    width: 100%;
    float: left;
    margin-right: 2.12766%;
    display: inline; }


  .promo_card {
    width: 100%;
    margin: 15px auto 15px auto;
    float: none;
    display: block; }


  footer .left_widget {
    width: 100%;
    border: none; }

  footer .mid_widget {
    display: none; }

  footer .right_widget {
    display: inline;
    float: left;
    width: 100%;
    border: none; }


  .slider_section {
    display: none; }


  .menu1_section {
    display: none; }


  header {
    height: 38px; }

    header .logo {
      width: 130px; }

      header .logo a {
        color: 96da;
        background-position: 0 -165px;
        height: 114px;
        width: 136px; }

    header .home_link {
      top: 0px;
      right: 150px;
      position: absolute; }

    header .main_menu_btn {
      display: block;
      color: #0081ff;
      font-size: 18px;
      font-fanily: Arial;
      border-left: 1px solid #0081ff;
      padding: 5px 45px 5px 20px;
      top: 4px;
      right: 5px;
      position: absolute;
      width: 60px;
      height: 20px;
      background: url("../img/icons/main_menu_btn.png") no-repeat 100% 0px; }

    header .main_menu {
      top: 35px;
      right: 0px;
      position: absolute;
      background: #003161;
      z-index: 500;
      display: none; }

      header .main_menu li {
        float: none;
        display: block;
        margin: 20px 15px; }

        header .main_menu li a {
          font-size: 18px;
          text-transform: uppercase; }

    header .right_side {
      display: none; }
}




/*
 * From /style.css
 */

.ai1ec-calendar-toolbar, .ai1ec-pagination, .ai1ec-calendar-title, .ai1ec-title-buttons {
    display: none !important;
}
/*************/

/* Main Menu */

/*************/
 .main_menu li ul {
    display: none;
}
.main_menu li:hover > ul {
    display: block;
    z-index: 501;
    background-color: #144C82;
}
.main_menu li ul {
    position: absolute;
    top: 100%;
}
.main_menu li {
    min-height: 30px;
}
.main_menu li ul li {
    background-color: #144C82;
    border-bottom: 1px dotted #5696D7;
    margin: 0 !important;
    position: relative;
    z-index: 501;
    clear: both;
    width: 200px;
}
.main_menu li ul li a {
    padding: 5px 20px 5px 10px;
    width: 200px;
    display: block;
    font-size: 11px;
}
.main_menu li li {
    margin-top: 0px;
}
.main_menu li ul {
    margin: 0 0 10px 0;
}
.main_menu li.current-page-ancestor, .main_menu li.current-menu-ancestor, .main_menu li.current-menu-parent, .main_menu li.current_page_item {
    font-weight: bold;
}
/************/

/* Nav Menu */

/************/
 .menu1 li ul {
    display: none;
}
.menu1 li:hover > ul {
    display: block;
}
.menu1_section .menu1 li ul {
    position: absolute;
    top: 100%;
    z-index: 5;
    padding: 5px 0px;
    background:#144C82;
    min-width: 210px;
    margin-left: -25px;
}
.menu1_section .menu1 li ul li {
    background-color: #144C82;
    position: relative;
    z-index: 5;
    margin: 0 !important;
    padding: 0px;
    list-style: none;
    width: 210px;
    border-bottom: 1px dotted #5696D7;
    clear: both;
}
.menu1_section .menu1 li ul li a {
    display: block;
    font-family:"ChronicleTextG1Roman";
    font-size: 13px;
    background: #144C82;
    padding: 7px 20px 7px 10px;
    margin: 0px;
}
.menu1_section .menu1 li.current-page-ancestor, .menu1_section .menu1 li.current-menu-ancestor, .menu1_section .menu1 li.current-menu-parent, .menu1_section .menu1 li.current_page_item {
    background:#144C82;
}
.menu1_section .menu1 li ul {
    margin: 0 0 0px -25px;
}
/**/
 .widgets {
    margin: 0;
}
.widgets li {
    list-style: none;
}
.right_sidebar {
    z-index: 1;
}
.interior div.promo_card {
    margin: 0px;
    border: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow: none;
}
.interior {
    background: #F0F0F0;
}
.athletics .right_sidebar {
    position: absolute !important;
}
/**/

 .interior div.right_sidebar li.widget {
    background: white;
    width: 285px;
    margin: 10px 15px 10px 8px;
    display: inline-block;
    float: left;
    border: 1px solid #d8d8d8;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.4);
}
 .interior div.right_sidebar li.NCHSCalendarWidget {
  background: none;
  width: auto;
  margin: 0px;
  border: 0px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.interior div.right_sidebar li.NCHSLatestNewsWidget .media{
  padding: 2px 10px;
  border-bottom: 1px dotted #CCC;
}
.interior div.right_sidebar li.NCHSLatestNewsWidget .media-heading{
  font-size: 14px;
}
.interior div.right_sidebar li.NCHSLatestNewsWidget .info_news_title,
.interior div.right_sidebar li.widget h2 {
    font-family:"trajan_proregular";
    font-size: 20px;
    line-height: 24px;
    padding: 10px 7px;
    margin: 0px;
    border-bottom: 1px dotted #CECECE;
}
.interior div.right_sidebar li.widget a.parent_page {
    padding: 7px;
    border-bottom: 1px dotted #CECECE;
    display: block;
    font-weight: bold;
}
.interior div.right_sidebar li.widget ul {
    padding: 5px 0px;
}
.interior div.right_sidebar li.widget ul li {
    padding: 5px;
}
h3.subpage_title {
    margin-bottom: 5px !important;
}
span.subpage_small_title {
    font-size: 25px;
    line-height: 30px;
}
.calendar_box_width_auto {
    width: auto;
}
.slider_section .slides, .slider_section .flexslider {
   background: url(../img/slide_bg_main.jpg) no-repeat 50% 0; 
}
.slider_section .slide_wrapper .slide1_title {
  color: black;
}
.slider_section .slider_wrapper .slide1_title h3,
.interior .slide_wrapper .slide1_title h3{
  color: #2b7bc9;
}
.athletics .lowerhalf{
  min-height: 500px;
}
.athletics .right_sidebar .latest_news_box{
  padding-top: 10px;
}
.athletics .right_sidebar .latest_news_box ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.athletics .right_sidebar .latest_news_box ul li{
  padding: 0px;
  border-bottom: 1px solid #CCC;
}

.athletics .right_sidebar .latest_news_box ul li a{
  color: #2b7bc9;
  font-family: "ChronicleTextG1Bold";
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0px;
  display: block;
}
.interior .single_athletics .promo_card{
  float: none;
  display: block;
  width: 260px;
}

.home .page .promo_section .promo_card{
  min-height: 271px;
}

/* ARCHIVE */
.archive-info {
    margin-bottom: 10px;
    border-left: 5px solid #2b7bc9;
    padding-left: 10px;
    line-height: auto;
}
.archive-position {
    line-height: 20px;
    font-style: italic;
    color: silver;
}
.archive-bio {
    padding: 10px;
    display: inline-block;
    text-align: justify;
}
.archive-img {
    width:165px;
    height:auto;
    float:left;
    margin: 0 10px 0 0;"
}

