---
title: 'interior'
pageClassName: 'interior'
---
/* ****************************** SLIDER ***************************
.slider_section
	=partial "/parts/slider_interior"
/* *************************8*** SECOND MENU ***********************
.menu1_section
	=partial "/parts/menu1"
/* ***************************** PAGE CONTENT **********************
.page
	.info_title 
		%h3 in the marIanist tradition since 1961
.page_header_box
	%h2 Couir
.page
	.blog_section
		.blog_wrapper
			%h3 Sounds of Nolan Catholic 
			%p 
				Please click on the arrows below to listen to recordings of two of the NCHS Varsity Choir's performances at the 2013 TPSMEA Concert & Sight-Reading Competition.
			%div
				=image_tag 'player.png', :class=>"player"
			%p
				The Viking Choral program is an award-winning performing opportunity for students interested in improving their ability and confidence in singing.
			%h3 About the Director
			.media
				.pull-left
					=image_tag 'article_img.jpg', :class=>'img-polaroid'
				.media-body
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi .
									
			%h3 2012-2013 Awards
			%pTPSMEA Concert & Sight-Reading Competition
			%p Chamber Choir - Superior Performance in Stage and Sight-Reading
			%p Concert Choir - Excellent Performance in Stage
			%p TPSMEA/TAPPS Solo & Ensemble Competitions
			%p 45 medals earned including 12 State-Level medals

			%h3 Viking Choral Program 
			%ul
				%li 
					%b Varsity Choir 
					\- (for class credit; by audition only) A mixed choir made up of self-motivated students who work on challenging music. This choir performs at the Christmas and Spring Concerts, Baccalaureate Mass, Graduation, as well as many events throughout the school year. Chamber Choir participates in competitions such as TPSMEA Concert & Sight-Reading, TPSMEA Solo & Ensemble, and TAPPS Solo & Ensemble. Members are required to submit an audition tape for the TPSMEA All-State Choir. Members are highly encouraged to audition for the TMEA All-State Choir and to study voice with a private teacher.

				%li
					Select Women's Choir - (COMING SOON, for class credit; by audition only) A Junior Varsity level, treble choir that works on female vocal pedagogy and treble choir repertoire from various genres. All 
	.right_sidebar
		.calendar_box
			.calendar_head
				%h4 CALENDAR
			.calendar_body
				.calendar_content
					-5.times do
						.media
							.pull-left
								.date_bg
									%span.month aug
									%span.day 25
							.media-body
								%h4.media-heading Lorem Ipsum Dolor Sit Amet
								Doskocil Stadium
			.calendar_footer 
				%a{:href => "#"} VIEW FULL CALENDAR
		.promo_card
			.promo_img
				=image_tag 'pic_2.jpg'
			.promo_title Class of 2017  - Get your Blue On!
			.promo_msg
				Lorem ipsum dolor sit amet,sed do eiusmod tempor incididunt ut labore    
				%a{:href => "#"} Click Here »
		.promo_card
			.promo_img
				=image_tag 'pic_3.jpg'
			.promo_title Become a Partner for Progress
			.promo_msg
				Lorem ipsum dolor sit amet,sed do eiusmod tempor incididunt ut labore   ea commodo    
				%a.blue_btn{:href => "#"} Donate Now »
		.clear
	.clear


